*{
  margin:0;
  padding:0;
}

/* .root{
  flex-grow: 1;
  
} */

#main{
  margin:0px;
  padding:0px;
}
.ToolBar{
  display:flex;
  
}
.search{
  margin-left: 80px;
  /* margin-right: -150px; */
  background: #f1f3f4;
  text-align: left;
  display: flex;
  position: relative;
  height: 45px;
  width: 40%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px #a5a5a5;
  border-radius: 10px;
  
}

.searchIcon{
  color: #5f6368;
  margin-right:150px;
  margin-left: auto;
  background: #f1f3f4;
  padding: 3%;
  position: absolute;
  border: none;
  background: transparent;
}

/* .searchInput{
  margin-top: 3px;
  background:#f1f3f4;
  padding: 3%;
  position:relative;
  margin-left: 50px;
  height: 15%;
  width:80%;

} */

.desktopPic{
  margin-left: 350px;
}

.icon{
  margin-top:10px;
  font-family:'Product Sans',Arial,sans-serif;
  font-size:22px;
  color:#5f6368;
  cursor: pointer;
  
}

.imgFundoo{
  display:flex;
}

.InputBase{
  font: inherit;
  color: currentColor;
  width: "100%";
  height: 1.1875em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  margin-top: 10px;
  margin-left: 30px;
  background:transparent;
  padding: 3%;
  position:relative;
  /* -webkit-tap-highlight-color: transparent; */
}

.listviewIcon{
  color:grey;
  margin-top: 5px;
  margin-left: 20px;
}

/* ---------------------------- login component --------------------------------------- */

#cardMain{
  margin-top:7em;
  margin-left: 22em;
  width: 30rem;
  height: 29rem;
  border-radius: 15px;
}


#cardMain2{
  margin-top:7em;
  margin-left: 16em;
  width: 40rem;
  height: 35rem;
  border-radius: 15px;
}


.titleTxt{
  margin-top: 20px;
  margin-left: 150px;
  font-family: 'Google Sans', Roboto, Arial,sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-style: bold;
  text-transform: uppercase;
}
.titleTxtreset{
  margin-top: 20px;
  margin-left: 170px;
  font-family: 'Google Sans', Roboto, Arial,sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-style: bold;
  text-transform: uppercase;
}

.FundooSignupTitleTxt{
  margin-top: 20px;
  margin-left: 7em;
  font-family: 'Google Sans', Roboto, Arial,sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-style: bold;
  text-transform: uppercase;

}


.title:nth-child(1n){
  color: rgb(0, 102, 255);

}
.title:nth-child(2n){
  color:rgb(255,0,0);
}
.title:nth-child(3n){
  color:rgb(255, 196, 0);
}
.title:nth-child(4n){
  color: rgb(0, 102, 255);
}
.title:nth-child(5n){
  color: rgb(0, 128, 0);

}
.title:nth-child(6n){
  color:rgb(255,0,0);
}

.loginBtn{
  margin-top:20px;
  margin-left: 6em;
  font-family: 'Product Sans' ;
  height: 30px;
  width: 70px;
}
#table{
  margin-top:39px;
  margin-left:7em;
}

#signupLink{
  margin-top: 2em;
  margin-left: 9em;
}


.usermail{
  display: flex;
  justify-content: space-around;
}

.passwordTxt{

display: flex;
justify-content: center
}

.resetEmailTxtf{
  margin-top:1em;
  display:flex;
  justify-content: center
}

/* ------------------- Drawer ----------------------------- */

.DrawerNote{
  display: flex;
  /* margin-top:13px;
  margin-bottom :18px; */
  width: 210px;
  height: 55px;
  align-items: flex;
  font-family: 'Product Sans',Arial,sans-serif;
  color:rgb(88, 86, 86);
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;

}
.DrawerNote:focus{
  background-color: #ffd000;
}

.DrawerNote:hover{
  background-color: #f6dc84;
  border-radius: 0px 25px 25px  0px;
  /* height: 2em; */
} 

.DrawerNote p {
margin-top: 19px;
margin-left:25px;
cursor: pointer;

}

.DrawerNote img {
  margin-left: 10px;
}



.labelhead{
  font-size:10px ;
  font-weight:850; 
  font-family:Arial; 
  margin:10px;
  color:rgb(88, 86, 86)
}

.NoteCard{
  /* height:auto; */
  color:rgb(88, 86, 86);
  word-wrap: break-word;
  margin-top:5px;
  margin-bottom: 1em;
  width: 259px;
  height: auto;
  border-radius: 15px;
  box-shadow:  3px 3px 5px 6px  #000000;
  cursor: pointer;


}

.NoteCardList{
  /* height:auto; */
  color:rgb(88, 86, 86);
  word-wrap: break-word;
  margin-top:5px;
  margin-bottom: 1em;
  width: 600px;
  height: auto;
  border-radius: 15px;
  box-shadow:  3px 3px 5px 6px  #000000;
  cursor: pointer;


}



/*---------------------- Icon ----------------------------- */

.ParentCard{
  
}


.flex-container {
  opacity: 1;
  opacity: 0;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  /* background-color: DodgerBlue; */
}


.ParentCard:hover .flex-container{
  opacity: 0.7;
  position: relative;
  display: flex;
  /* flex-wrap: nowrap; */
  /* background-color: DodgerBlue; */
} 



#isPinned{
  height:15px; 
  margin-left:90%

}

#pinnedTitle{
  color:gray;
  margin-top:5%;
  margin-left:20%;
  font-family: 'Roboto',arial,sans-serif;
}

#otherTitle{
  color:gray;
  /* margin-top:%; */
  margin-left:20%;
  font-family: 'Roboto',arial,sans-serif;
}



.flex-container > div {
  /* background-color: #f1f1f1; */

  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  cursor: pointer;

}

.flex-container img{
  width: 20px;
  height: 20px;
}

.AddnoteCard{
  margin-top:7em;
  margin-left: 22em;
  width: 40rem;
  height: 4rem;
  border:1px solid rgb(192, 192, 192);

}


.AddnoteInputBase{
  width: 90%;

}

.AddnoteCard2{
  margin-top:7em;
  margin-left: 22em;
  width: 40rem;
  height: auto;
  border:1px solid rgb(192, 192, 192);

}

.NoteTextField{
  width:90%
}

#closeBtnNote{
  margin-left: 305px;
  font-family: 'Roboto',arial,sans-serif;;
  cursor: pointer;
  font-size: 90%;
  font-weight: 600
}

.dialogbox{
  position: relative;
  margin:10px;
  width: 1200px;
  height: auto;

}

.flex-containerDialog {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  /* background-color: DodgerBlue; */
  margin-right: 330px;

}


.flex-containerDialog > div {
  /* background-color: #f1f1f1; */
  cursor: pointer;
  margin: 8px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
}

.flex-containerDialog img{
  width: 20px;
  height: 20px;
}

#MenuItem{
  font-family: 'Roboto',arial,sans-serif;;
  cursor: pointer;
  font-size: 80%;
  font-weight: 600

}

.ReminderMenu{
  font-size: 15px;
  margin-left: 15px;
  font-weight: bold;  
}


.listView2{
  margin-left: 200px;
}


.labelsMenuItem{
  font-size: 25px;
  width: 199px;

}

.LabelInputBase{
  /* margin-bottom: 3px; */
  margin-left: 10px;

}

.labelAddIcon{
  margin-left:13px;
}





#DialogNote{
  display: flex;
  /* margin-top:13px;
  margin-bottom :18px; */
  width: 238px;
  height: 55px;
  /* align-items: flex; */
  font-family: 'Product Sans',Arial,sans-serif;
  color:rgb(88, 86, 86);
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  /* justify-content: space-between; */
}


.DialogNote p {
  margin-top: 19px;
  margin-left:25px;
  cursor: pointer;

  }



.DgEditLabel{
  display:flex;
  justify-content: space-between;
}


.DoneBtn{
  font-family: 'Product Sans',Arial,sans-serif;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;

}

.DgEdit{
  margin-right: -160px;
}


.InputDgLbl{
  width:80px
}
  /* flex-wrap: nowrap; */
  /* flex-direction: column; 
  align-content: flex-start ;
  /* margin-left:90px; */


.NoteSecGrid{
  width: 850px;
  margin-top: 20px;
  margin-left: 250px
}